
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

.box-container1 {
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
}

.box {
    background-color: deeppink;
    width: 20%;
    height: 150px;
    margin: 5%;
    padding: 1%;
    border: 1px solid black;
}

#item-box1{
    background-color: skyblue;
    text-align: center;
    align-content: center;
    width: 80%;
    height: 20px;
    margin: 5%;
    padding: 1%;
    border: 1px solid black;
    display: block
}

#item-box2{
    background-color: skyblue;
    text-align: center;
    align-content: center;
    width: 80%;
    height: 20px;
    margin: 5%;
    padding: 1%;
    border: 1px solid black;
    display: none;
}

#button-box1 {
    background-color: beige;
    text-align: center;
    width: 30%; 
}

#button-box1 button {
    background-color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    height: 40px;
    font-size: 1.5em;
    border-radius: 30px;
    box-shadow: 0px 2px;
    cursor: pointer;
}

#button-box button:active {
    box-shadow: none;
}

.box-container2 {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}

#button-box2 {
    background-color: beige;
    text-align: center;
    width: 30%; 
}

.button-box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-box-container #left-arrow {
    width: 25%;
}

.button-box-container #right-arrow {
    width: 25%;
}

.button-box-container #arrow-box {
    width: 40%;
    display: inline-block;
    background-color: #FFFF00;
    border: 1px solid black;
    padding: 5px;
}

#array-box1{
    background-color: skyblue;
    text-align: center;
    align-content: center;
    width: 80%;
    min-height: 20px;
    height: auto;
    margin: 5%;
    padding: 1%;
    border: 1px solid black;
}

#array-box2{
    background-color: skyblue;
    text-align: center;
    align-content: center;
    width: 80%;
    min-height: 20px;
    height: auto;
    margin: 5%;
    padding: 1%;
    border: 1px solid black;
}




